.Subheader-main{
    border: 1px solid #636edf4d;
    width: fit-content;
    padding: 5px 18px;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    border-radius: 10px;

    .sub-flicker{
        background-color: #636edf;
        padding: 3px;
        border-radius: 2px;
        animation: fade .7s infinite;
    }

    p{
        text-transform: capitalize;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.333em;
    }
}

.withBorder{
    border: 1px solid #ffffff4d;
}


@keyframes fade{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
