@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.header-container {
    background-color: #242424;
    overflow: hidden;
    position: relative;
    height: 100vh;
    @media (max-width: 850px){
        height: 75vh;
    }
    .header-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 2%;

        .header-about {
            margin-top: 4%;
            display: flex;
            gap: 10%;
            position: relative;
            justify-content: center;
            align-items: center;
            
            .img-sec {
                border-radius: .8rem;
                overflow: hidden;
                @media (max-width: 850px) {
                display: none;
            }
            }

            .text-sec {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                h1 {
                    width: 100%;
                    max-width: 600px;
                    font-size: clamp(22px, 5.5vmax, 70px);
                    font-family: "Mona Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
                        "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
                    color: #fff;
                    line-height: 1.2;
                    font-family: 'Ubuntu';
                    font-weight: 600;
                }
                h2{
                    font-size: clapm;
                    clear: both;
                    color: #fff;
                    font-size: 1.5rem;
                }
            }
        }
    }
}