.AboutBox-container {
    width: 100%;
    background-color: #fff;
    border-radius: 1rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;

    .AboutBox-top {
        display: flex;
        flex-direction: column;

        h2 {
            display: flex;
            align-items: center;
            gap: 1rem;

            span {
                display: block;
                width: 7px !important;
                height: 7px !important;
                border-radius: 2px;
            }
        }
    }
}
